/*.App {
  text-align: center;
}*/

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}*/

/*@keyframes head1{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
.head
{
  display: flex;
  justify-content:space-between;
  align-items:self-start;
  background-color:white;
  color:aqua;
  }
.Head1
{
  /*padding-top:initial;*/
  margin-top:3%;
  justify-content: space-between;
  /*padding-bottom:0px;
  padding-left:30%;*/
  font-size: 350%;
  color:gold;
  margin-right:34%;
  font-family:cursive;
  font-style:normal;
  font-display:inherit;
  font-variant: small-caps;

}

 


.navbar
{
  display: flex;
  justify-content:space-between;
  align-items:self-start;
  /*padding: 1rem 2rem;*/
  background-color:black;
  color:aqua;
  font-size:150%; 
}
.navbar-container {
 display: flex;
 justify-content:space-between;
  width: 45%;
  max-width: 1200px;
  margin:0%;
}
/*.navbar-containers
{
   display: flex;
   color:aqua;
}*/
.int
{
            width: 70%;
            padding: 5px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;  
}
.but
{
            margin-left:5px;
            font-size: 16px;
            color: white;
            background-color: #007BFF;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            height:30px;
}
.navbar-containers2
{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
